@charset "utf-8";
/* CSS Document */
body{
	background: grey;
}
*{
	margin: 0;
	padding: 0;
}
#header{
	background-image: url("images/background.jpg");
	height: 100px;
	width: 100%;
	background-size: 100%;
	background-position:center;
	position: fixed;
	z-index: 1;
}
.menu-utama ul{
	position: relative;
	left: 450px;
	bottom: 25px;
}
.menu-utama ul li{
	position: relative;
	display: inline-block;
	padding: 10px 45px 10px 0px;		
}
.menu-utama ul li a:hover{
	text-decoration: underline;
}
.menu-utama ul li a{
	color: #000000;
	text-decoration: none;
	list-style: none;
	text-align: right;
	font-size: 20px;
}
ul.subwish{
    position: absolute;
    top: 40px;
    left: -50px;
	display: none;
}
ul.subwish li{
	background-color: #CECECE;
	border: 1px solid;
	padding-left: 20px;
	padding-right: 20px;
    display: block;
	min-width: 140px;
}
ul.subwish li a{
    display: block;
	text-align: left;
}
.menu-utama ul li:hover ul.subwish{
    display: block;
}
.logo{
	position: relative;
	left: 20px;
	top: 20px;
}
.logout{
	border: 1px solid;
	background-color: #E0E0E0;
	width: 90px;
	height: 35px;
	border-radius: 100px;
	position: relative;
	left: 1200px;
	bottom: 65px;
}
.logout a{
	color: #000000;
	text-decoration: none;
	font-size: 20px;
	position: relative;
	top: 5px;
	left: 12px;
}
#about{
	height: 550px;
	width: 100%;
	background: #E0E0E0;
	overflow:hidden;
	padding-top: 100px;
}
#about h1{
	font-size: 36px;
	position: relative;
	text-align: center;
	top: 20px;
}
#about p{
	text-align: center;
	font-size: 20px;
	font-family: "kelly-slab";
	padding: 0px 100px 0px 100px;
	position: relative;
	top: 50px;
}
#about .foto{
	border: 2px solid;
	border-radius: 100%;
	width: 150px;
	position: relative;
	top: 130px;
	left: 120px;
	overflow: hidden;
	align-: center;
	margin-right: 165px;
}
#about .us{
	font-size: 36px;
	position: relative;
	text-align: center;
	top: 110px;
}
#about li{
	position: relative;
	display: inline-block;
	top: 90px;
	left: 30px;
}
#about li p{
	position: relative;
	padding-right: 100px;
}
#about .dicky{
	position: relative;
	left: 5px;
}
#about .imam{
	position: relative;
	left: -10px;
}
#footer{
	height: 80px;
	width: 100%;
	background-image: url("images/background.jpg");
	background-size: 100%;
	background-position: center;
	overflow: hidden;
}
#footer p{
	margin-left: 100px;
	margin-top: 35px;
	color: white;
}