@charset "utf-8";
/* CSS Document */
body{
	background: grey;
}
*{
	margin: 0;
	padding: 0;
}
#header{
	background-image: url("images/background.jpg");
	height: 100px;
	width: 100%;
	background-size: 100%;
	background-position:center;
}
.logo{
	position: relative;
	left: 20px;
	top: 20px;
}
#bglogin{
	background: #E0E0E0;
	height: 345px;
	width: 100%;
	padding-top: 100px;
	overflow: hidden;
}
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
	font-family: "black-ops-one";
	font-size: 24px;
	padding-bottom: 10px;
}

.login{
	width: 350px;
	height: 300px;
	background: #88D956;
	/*meletakkan form ke tengah*/
	margin: 30px auto;
	padding: 20px 20px 30px 20px;
	border: ridge 2px #4D3E3E;
	position: relative;
	bottom: 80px;
}

label{
	font-size: 11pt;
	font-family: "black-ops-one";
}

.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	font-family: "black-ops-one";
	margin-bottom: 20px;
	border: solid 1px #000000;
}

.tombol_login{
	background: #46de4b;
	color: black;
	font-size: 11pt;
	font-family: "black-ops-one";
	width: 100%;
	border-radius: 3px;
	padding: 10px 20px;
	margin-bottom: 20px;
	border: solid 1px #000000;
}
.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}
.daftar{
	text-decoration: underline;
	text-align: center;
	color: black;
}
.login p{
	padding-bottom: 10px; 
}
#footer{
	height: 80px;
	width: 100%;
	background-image: url("images/background.jpg");
	background-size: 100%;
	background-position: center;
	overflow: hidden;
}
#footer p{
	margin-left: 100px;
	margin-top: 35px;
	color: white;
}