@charset "utf-8";
/* CSS Document */
body{
	background: grey;
}
*{
	margin: 0;
	padding: 0;
}
#header{
	background-image: url("images/background.jpg");
	height: 100px;
	width: 100%;
	background-size: 100%;
	background-position:center;
	position: fixed;
	z-index: 1;
}
.menu-utama ul{
	position: relative;
	left: 450px;
	bottom: 25px;
}
.menu-utama ul li{
	position: relative;
	display: inline-block;
	padding: 10px 45px 10px 0px;		
}
.menu-utama ul li a:hover{
	text-decoration: underline;
}
.menu-utama ul li a{
	color: #000000;
	text-decoration: none;
	list-style: none;
	text-align: right;
	font-size: 20px;
}
ul.subwish{
    position: absolute;
    top: 40px;
    left: 0px;
	display: none;
}
ul.subwish li{
	background-color: #CECECE;
	border: 1px solid;
	padding-left: 20px;
	padding-right: 20px;
    display: block;
	min-width: 140px;
}
ul.subwish li a{
    display: block;
	text-align: left;
}
.menu-utama ul li:hover ul.subwish{
    display: block;
}
.logo{
	position: relative;
	left: 20px;
	top: 20px;
}
.logout{
	border: 1px solid;
	background-color: #E0E0E0;
	width: 90px;
	height: 35px;
	border-radius: 100px;
	position: relative;
	left: 1200px;
	bottom: 65px;
}
.logout a{
	color: #000000;
	text-decoration: none;
	font-size: 20px;
	position: relative;
	top: 5px;
	left: 12px;
}
#DaftarWishlist{
	background: #E0E0E0;
	height: 500px;
	width: 100%;
	padding-top: 100px;
	overflow: hidden;
}
#DaftarWishlist h1{
	font-size: 40px;
	position: relative;
	text-align: center;
	top: 30px;
}
#DaftarWishlist .media{
	position: relative;
	width: 100px;
	top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 200px;
	margin-right: 310px;
}

.tulisan_wishlist{
	/*membuat semua huruf menjadi kapital*/
	position: relative;
	font-family: "black-ops-one";
	text-align: center;
	right: 135px;
	font-size: 26px;
	bottom: 30px;
	padding-bottom: 5px;
}

.TabelWishlist{
	width: 1500px;
	/*meletakkan form ke tengah*/
	position: relative;
	left: 50px;
	bottom: 0px;
	top: 50px;
	margin-left: 10px;
	padding: 20px 30px 30px 25px;
	
}

label{
	font-size: 11pt;
	font-family: "black-ops-one";
}

.form_wishlist{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 8px;
	font-size: 11pt;
	font-family: "black-ops-one";
	
	margin-bottom: 12px;
	border: solid 1px #000000;
}

.tombol_wishlist{
	background: #46de4b;
	color: black;
	font-size: 11pt;
	font-family: "black-ops-one";
	width: 100%;
	border-radius: 2px;
	padding: 10px 20px;
	border: solid 1px #000000;
}

.tombol_lanjut_progress{
	background: #ebe72a;
	color: black;
	font-size: 11pt;
	font-family: "black-ops-one";
	width: 100%;
	border-radius: 2px;
	padding: 10px 20px;
	border: solid 1px #000000;
}


.kotak_wishlist{
	width: 200px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 60px auto;
	padding: 30px 20px;
}
.daftar{	
	text-decoration: none;
	text-align: center;
	color: black;
}
#footer{
	height: 80px;
	width: 100%;
	background-image: url("images/background.jpg");
	background-size: 100%;
	background-position: center;
	overflow: hidden;
}
#footer p{
	margin-left: 100px;
	margin-top: 35px;
	color: white;
}